.round-btn {
  border-radius: 30px;
}
.main-btn2 {
  background: $lightblue;
  color: #ffffff;
  border: 1px solid $lightblue;
  padding: 10px 20px;
}
.main-btn2:hover {
  background: #0895e3;
  color: #ffffff;
  border: 1px solid $lightblue;
  padding: 10px 20px;
}
.main-btn {
  background: $lightblue;
  color: #ffffff;
  border: 1px solid $lightblue;
  padding: 10px 18px;
}
.main-btn:hover {
  background: #ffffff;
  transition: background ease-out;
  color: $lightblue;
  border: 1px solid $lightblue;
  padding: 10px 18px;
}
.mains-btn {
  background: $lightblue;
  color: #ffffff;
  border: 1px solid $lightblue;
  padding: 5px 20px;
}
.mains-btn:hover {
  background: #ffffff;
  transition: background ease-out;
  color: $lightblue;
  border: 1px solid $lightblue;
  padding: 5px 20px;
}
.w-btn {
  background: #ffffff;
  color: $lightblue;
  border: 1px solid $lightblue;
  padding: 5px 20px;
}
.w-btn:hover {
  background: $lightblue;
  transition: background ease-out;
  color: #ffffff;
  border: 1px solid $lightblue;
  padding: 5px 20px;
}
.btn-p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-p:hover {
  padding-top: 15px;
  padding-bottom: 15px;
}
.max-300 {
  padding-left: 100px;
  padding-right: 100px;
}
.main-btn-xl {
  background: $lightblue;
  color: #ffffff;
  border: $lightblue;
  padding: 15px 120px;
}
.main-btn-xl:hover {
  background: #0895e3;
  color: #ffffff;
  border: $lightblue;
  padding: 15px 120px;
}

@media screen and (max-width: 768px) {
  .btn_mob {
    font-size: 1.2rem;
  }
}
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}
