.agents-hero {
  width: 100%;
  height: 700px;
  background-image: url("./../../assets/images/agents.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  -webkit-box-shadow: inset -1px 0px 30px -3px rgba(140, 140, 140, 1);
  -moz-box-shadow: inset -1px 0px 30px -3px rgba(140, 140, 140, 1);
  box-shadow: inset -1px 0px 30px -3px rgba(140, 140, 140, 1);
}

.agents {
  min-height: 700px;
  // background: rgba(86, 86, 86, 0.21);
  z-index: 1;
}

.inhouse {
  width: 100%;
  height: 800px;
  background-image: url("./../../assets/images/house.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: inset -1px 0px 30px -3px rgba(199, 199, 199, 1);
  -moz-box-shadow: inset -1px 0px 30px -3px rgba(199, 199, 199, 1);
  box-shadow: inset -1px 0px 30px -3px rgba(199, 199, 199, 1);
  object-fit: cover;
}
.blockagents-nfo {
  padding-top: 50px;
  padding-bottom: 50px;
}
.intro-text {
  min-height: 500px;
}
