.home-buyers-hero {
  width: 100%;
  height: 700px;
}
.intro-text-homebuyer {
  background: #f1f4f6;
  min-height: 500px;
}
.intro-text-homebuyer-w {
  background: #ffffff;
  min-height: 500px;
}
.homebuyer {
  background: #ffffff;
  width: 80%;
  min-height: 100px;
  border-radius: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #0a9def;
  padding-left: 20px;
}
.hbs {
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/images/Homebuyerspage2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
