.hidenx {
  display: none;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.nostyle {
  all: unset;
}
.fa-arrow-alt-circle-right {
  font-size: 3rem;
  color: $lightblue;
}
.fa-arrow-alt-circle-left {
  font-size: 3rem;
  color: $lightblue;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffffff;
  color: #000;
  transition: all 0.3s;
  box-shadow: 5px 0 15px -5px rgba(51, 51, 51, 0.2);
  border-right: 1px solid #c2c2c2;
}
#sidebar.active {
  margin-left: -250px;
}
.sidebar .sidebar-header {
  padding: 20px;
  background: #ffffff;
  color: $lightblue;
}
.sidebar ul.components {
  padding: 20px 0;
}
.tab-pane {
  padding: 25px;
}
.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sidebar ul li a {
  padding: 15px;
  font-size: 1rem;
  display: block;
}

.sidebar ul li a:hover {
  background: $lightblue;
  text-decoration: none;
  color: #ffffff;
  transition: background 0.18s ease-in;
}

.sideactive {
  background: #0a9def;
  color: #ffffff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
