@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  padding-top: 90px;
  width: 100%;
  height: 100vh;
  min-height: 100%; }

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1.19rem; }

.nav-link {
  display: block;
  padding: 1.6rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem; }

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 500; }

.white {
  background: #ffffff; }

.bg-white {
  background-color: #fff !important;
  border-bottom: 1px solid #dbdbdb; }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #0a9def; }

.navbar {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: #0a9def; }

@media screen and (max-width: 1244px) {
  .navbar {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 21px; } }

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  background-color: #0a9def;
  position: relative;
  height: 70px; }

.botton-zero {
  margin-bottom: 0; }

.footer a {
  color: #ffffff; }

.footer a:hover {
  color: #ffffff;
  text-decoration: underline; }

.contact {
  width: 100%;
  min-height: 750px;
  padding-top: 30px;
  padding-bottom: 30px; }

.lf-block {
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  height: 100%;
  background: #e2f6ff;
  margin-right: 10px;
  padding: 50px;
  border-radius: 20px; }

.main-virtual {
  width: 100%;
  min-height: 550px; }

.main-virtual-cl {
  width: 100%; }

.sm-titles {
  font-size: 1.7rem; }

.lft-block {
  background: #0a9def; }

.rgt-block {
  background: #e2f6ff; }

.wrap-text {
  width: 70%; }

@media screen and (max-width: 768px) {
  .wrap-text {
    width: 99%; }
  .min-h600 {
    min-height: 400px; } }

.home-value-hero {
  width: 100%;
  background-image: url("./../../assets/images/home-value.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  padding: 2rem; }

.fronter {
  z-index: 1; }

.home-value {
  z-index: 1; }

.home-bg {
  min-height: 700px;
  background: rgba(1, 2, 2, 0.31);
  border-radius: 20px; }

@media screen and (max-width: 768px) {
  .home-bg {
    min-height: 200px;
    background: rgba(1, 2, 2, 0.31);
    z-index: 1;
    border-radius: 20px;
    margin-bottom: 100px; }
  .home-value-hero {
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px; } }

.intro-text-sellers {
  min-height: 400px; }

.home-sellers-hero {
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/images/homesellers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover !important;
  padding: 2rem;
  object-fit: cover; }

.intro-text-sellers-increase {
  width: 100%;
  height: 100%;
  background: #ffffff; }

.intro-text-sellers {
  background: #f1f4f6;
  min-height: 500px; }

.home-sellers {
  min-height: 800px;
  background: rgba(86, 86, 86, 0.21);
  z-index: 1; }

.right-arrow {
  display: inline-block;
  position: relative;
  padding: 15px; }

.right-arrow:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  border-top: 35px solid #f1f4f6;
  border-right: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 35px solid #ffffff; }

.shadows {
  -webkit-box-shadow: 2px 2px 5px 0px #e1e1e1;
  -moz-box-shadow: 2px 2px 5px 0px #e1e1e1;
  box-shadow: 2px 2px 5px 0px #e1e1e1; }

@media screen and (max-width: 768px) {
  .right-arrow::after {
    display: none; } }

.homeowners-hero {
  width: 100%;
  height: 700px;
  background-image: url("./../../assets/images/homeowners.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  -moz-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  object-fit: cover; }

.homeowners {
  min-height: 700px;
  z-index: 1; }

.homeowners-block {
  width: 100%;
  min-height: 500px;
  background: #ffffff; }

.lblock-owners {
  background: #0a9def;
  min-height: 520px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -70px;
  margin-bottom: -120px; }

.rblock-owners {
  min-height: 400px; }

.homeowners-sl {
  width: 100%;
  height: 800px;
  background-image: url("./../../assets/images/homeowners.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  -moz-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  object-fit: cover; }

.home-buyers-hero {
  width: 100%;
  height: 700px;
  background-image: url("./../../assets/images/homesellers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  -moz-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  object-fit: cover; }

.intro-text-homebuyer {
  background: #f1f4f6;
  min-height: 500px; }

.intro-text-homebuyer-w {
  background: #ffffff;
  min-height: 500px; }

.homebuyer {
  background: #ffffff;
  width: 80%;
  min-height: 100px;
  border-radius: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #0a9def;
  padding-left: 20px; }

.agents-hero {
  width: 100%;
  height: 700px;
  background-image: url("./../../assets/images/agents.jpg");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  -webkit-box-shadow: inset -1px 0px 30px -3px #8c8c8c;
  -moz-box-shadow: inset -1px 0px 30px -3px #8c8c8c;
  box-shadow: inset -1px 0px 30px -3px #8c8c8c; }

.agents {
  min-height: 700px;
  z-index: 1; }

.inhouse {
  width: 100%;
  height: 800px;
  background-image: url("./../../assets/images/house.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  -moz-box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  box-shadow: inset -1px 0px 30px -3px #c7c7c7;
  object-fit: cover; }

.blockagents-nfo {
  padding-top: 50px;
  padding-bottom: 50px; }

.intro-text {
  min-height: 500px; }

.hero_main {
  background-image: url("./../../assets/images/hero_main.jpg");
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.about {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  padding: 50px; }

.form-block-l {
  width: 40%;
  height: 400px;
  background: #e2f6ff; }

.form-block-r {
  width: 60%;
  height: 400px; }

.block {
  width: 300px;
  min-width: 240px;
  height: 170px;
  margin: 10px; }

.form-contact {
  background: #ffffff;
  border-radius: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #e1e1e1;
  width: 100%;
  min-height: 500px;
  -webkit-box-shadow: 2px 2px 5px 0px #e1e1e1;
  -moz-box-shadow: 2px 2px 5px 0px #e1e1e1;
  box-shadow: 2px 2px 5px 0px #e1e1e1; }

.wraper {
  display: flex;
  align-items: center;
  justify-content: center; }

.infoblock {
  width: 100%; }

.hero_login {
  min-height: 220px;
  padding-bottom: 30px; }

.account_section {
  width: 100%;
  height: 500px;
  background-image: url("./../../assets/images/bgimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.block-account {
  min-height: 500px;
  background: rgba(226, 246, 255, 0.85);
  z-index: 1; }

.form-block {
  background: #ffffff;
  border-radius: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #e1e1e1;
  margin-bottom: 100px;
  max-width: 900px;
  min-height: 500px;
  width: 900px;
  -webkit-box-shadow: 2px 2px 5px 0px #e1e1e1;
  -moz-box-shadow: 2px 2px 5px 0px #e1e1e1;
  box-shadow: 2px 2px 5px 0px #e1e1e1; }

.form-stl {
  max-width: 500px;
  margin: 0px auto; }

.account_section_block {
  min-height: 750px; }

.account_section_block_pwd {
  min-height: 450px; }

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

.select-selected {
  background-color: DodgerBlue; }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 10px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer; }

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.contractors {
  min-height: 700px;
  background: rgba(14, 78, 175, 0.31);
  z-index: 1; }

.contractors-hero {
  width: 100%;
  height: 700px;
  background-image: url("./../../assets/images/contractors.jpg");
  background-position: center;
  background-repeat: no-repeat; }

.block_benefits {
  min-height: 500px;
  background: #edf5fd; }

.block_bt {
  background: #ffffff;
  width: 80%;
  min-height: 100px;
  border-radius: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 2px 2px 5px 0px #e1e1e1;
  -moz-box-shadow: 2px 2px 5px 0px #e1e1e1;
  box-shadow: 2px 2px 5px 0px #e1e1e1;
  padding-left: 20px; }

.fa-check {
  font-size: 2rem;
  color: #0a9def; }

@media screen and (max-width: 768px) {
  .contractor-h2 {
    font-size: 2.8rem;
    margin-bottom: 50px; }
  .contractor-h2-s {
    font-size: 2.4rem;
    margin-bottom: 20px; }
  .contractor-h3 {
    font-size: 2.1rem; }
  .h4-mobile {
    font-size: 1.2rem;
    font-weight: normal; } }

.br {
  border: 1px solid; }

.blue {
  color: #0a9def; }

.size_menu {
  font-size: 1.8rem; }

.blue_border {
  border: 1px solid #0a9def; }

.bold {
  font-weight: bold; }

.heading-text {
  font-size: 3.7em; }

.hero_p {
  font-size: 1.8rem; }

.hero_p2 {
  font-size: 1.2rem; }

.hero-cl {
  font-size: 1.3rem; }

.hero_p2s {
  font-size: 1.4rem;
  color: #ffffff; }

.w-text {
  color: #ffffff; }

.nmt-430 {
  margin-top: -430px; }

.hr_blue_line {
  width: 100%;
  height: 1px;
  background: #0a9def; }

.rounded_corners {
  border-radius: 30px; }

.ptb-50 {
  padding: 50px; }

.ptb-30 {
  padding: 30px; }

.links {
  color: #000; }

.links:hover {
  color: #0a9def; }

.border-card {
  border: 1px solid #ebdcdc; }

.jumbotron {
  margin-bottom: 0; }

.card-shadow {
  -webkit-box-shadow: 2px 2px 5px 0px #c9c9c9;
  -moz-box-shadow: 2px 2px 5px 0px #c9c9c9;
  box-shadow: 2px 2px 5px 0px #c9c9c9; }

.pointer {
  cursor: pointer;
  color: #000; }

.pointer:hover {
  background: #0a9def;
  transition: background 1s ease-out;
  color: #ffffff; }

.card_title_text {
  font-size: 1.7rem; }

.fa-chevron-down {
  color: #0a9def;
  font-size: 3rem; }

.intro-t {
  font-size: 3.3rem; }

.sm-title-sm {
  font-size: 3rem; }

.sm-title {
  font-size: 3.3rem; }

.min-h600 {
  min-height: 700px; }

.no-space {
  padding: 0;
  margin: 0; }

.hrblue {
  height: 5px;
  width: 300px;
  background: #0a9def;
  margin: 0 auto; }

.flsize {
  font-size: 2.5rem; }

.color-w {
  color: #ffffff; }

@media screen and (max-width: 768px) {
  .hero_p2s {
    font-size: 1.1rem;
    color: #ffffff; }
  .sm-title {
    font-size: 1.7rem; }
  .sm-title-sm {
    font-size: 1.6rem; }
  .heading-text {
    font-size: 2em; }
  .hero_p {
    font-size: 1.5rem; }
  .hero_p2 {
    font-size: 1.1rem; }
  .flsize {
    font-size: 1.6rem; }
  .mb-5mobile {
    margin-bottom: 20px; } }

label {
  display: inline-block;
  margin-bottom: 0.1rem; }

.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee; }

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #2196f3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.7em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1.75rem center/8px 10px;
  border: 1px solid #ced4da;
  border-radius: 1.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.round-btn {
  border-radius: 30px; }

.main-btn {
  background: #0a9def;
  color: #ffffff;
  border: #0a9def;
  padding: 10px 20px; }

.main-btn:hover {
  background: #0895e3;
  color: #ffffff;
  border: #0a9def;
  padding: 10px 20px; }

.btn-p {
  padding-top: 15px;
  padding-bottom: 15px; }

.btn-p:hover {
  padding-top: 15px;
  padding-bottom: 15px; }

.max-300 {
  padding-left: 100px;
  padding-right: 100px; }

.main-btn-xl {
  background: #0a9def;
  color: #ffffff;
  border: #0a9def;
  padding: 15px 120px; }

.main-btn-xl:hover {
  background: #0895e3;
  color: #ffffff;
  border: #0a9def;
  padding: 15px 120px; }

@media screen and (max-width: 1244px) {
  .navbar-brand > img {
    width: 150px; } }

@media screen and (min-width: 1245px) {
  .navbar-brand > img {
    width: 250px; } }

@media screen and (min-width: 990px) and (max-width: 1178px) {
  .navbar {
    font-size: 0.7rem; } }

@media screen and (min-width: 1030) and (max-width: 1178px) {
  .navbar {
    font-size: 0.8rem; } }

@media screen and (min-width: 1178px) and (max-width: 1280px) {
  .navbar {
    font-size: 0.8rem; } }

@media screen and (max-width: 768px) {
  .wraper {
    display: flex;
    flex-direction: column; }
  .block {
    width: 100%;
    height: 130px;
    margin: 10px; }
  .wraper .h4style {
    font-size: 1.6rem; }
  .block p {
    font-size: 1rem; }
  .lf-block {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    height: 100%;
    background: #e2f6ff;
    margin-right: 10px;
    padding: 15px;
    border-radius: 20px; }
  .lf-block h2 {
    font-size: 1.3rem; }
  .infoblock {
    display: flex;
    flex-direction: column; }
  .w-100m {
    width: 100%; }
  .btn-small-mb {
    font-size: 1.2rem; }
  .mtm-30 {
    margin-top: 30px; }
  .ptb-50mb {
    padding: 15px; }
  .heading-mg {
    font-size: 1.9rem; }
  .heading-p {
    font-size: 1.3rem; }
  .intro-text {
    font-size: 2rem; } }

@media screen and (min-width: 769px) and (max-width: 958px) {
  .wraper {
    display: flex;
    flex-direction: column; }
  .block {
    width: 100%;
    height: 130px;
    margin: 10px; }
  .wraper .h4style {
    font-size: 1.6rem; }
  .block p {
    font-size: 1rem; } }

@media screen and (min-width: 959px) and (max-width: 1120px) {
  .block {
    width: 300px;
    min-width: 120px;
    height: 170px;
    margin: 10px; }
  .wraper .h4style {
    font-size: 1.2rem; }
  .block p {
    font-size: 0.9rem; } }

@media screen and (min-width: 1120px) and (max-width: 1300px) {
  .block {
    width: 300px;
    min-width: 140px;
    height: 170px;
    margin: 10px; }
  .wraper .h4style {
    font-size: 1.2rem; }
  .block p {
    font-size: 0.8rem; } }
