.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  background-color: $lightblue;
  height: 70px;
}
.botton-zero {
  margin-bottom: 0;
}
.footer a {
  color: #ffffff;
}
.footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
